.header-navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}

.navbar-tabs-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-self: flex-end;
}

.navbar-tabs-vertical {
    width: 100%;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-bottom: 1px solid #f0f0f0;
}

.logo {
    width: 120px;
    height: 31px;
    background-color: darkseagreen;
    margin: 16px 28px 16px 0;
    float: left;
}

